# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#added more local specific files to ignore
*.opensdf
*.sdf
*.exe
*.tlog
*.manifest
*.pdb
*.idb
*.rc
*.res
*.obj
*.log
*.lastbuildstate
*.sln
*.suo
